@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.great-vibes-regular {
  font-family: var(--font-great-vibes);
}

.montserrat-regular {
  font-family: var(--font-montserrat);
}

.epilogue-regular {
  font-family: var(--font-epilogue);
  font-weight: 400;
}

.noto-serif-tc-regular {
  font-family: var(--font-noto-serif-tc);
}

.bodoni-moda-regular {
  font-family: var(--font-bodoni-moda);
}



.play-button {
  background-color: transparent;
  border: 1px solid #B89C9A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 10px;
  margin-right: 10px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 10;
}

.icon {
  font-size: 24px;
  color: #B89C9A;
  transition: transform 0.5s; /* 添加过渡效果 */
}

.rotate {
  animation: spin 1s linear infinite; /* 持续旋转动画 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  z-index: 1000; /* 确保遮罩在最上层 */
  background-image: url(/oVERLAY.png) ;
  background-position: center;
  background-size: cover;

}

.image-gradient {
  mask-image: linear-gradient(to top, white 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, white 90%, transparent 100%);
}


